<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <form class="formulario" action="/users/login" method="POST">
        <h4>Log in: </h4>
        <section class="login">
          <ul class="login__container">
            <% if (typeof errors != 'undefined' ) { %>
              <ul>
                <% for (let i = 0; i <errors.length; i++){ %>
                  <li>
                    <%=errors[i].msg%>
                  </li>
                  <% } %>
              </ul>
              <% } %>
                <li> <input type="text" placeholder="Email" name="email" value="<%= locals.old && old.email %>">
                  <% if (locals.errors && errors.email) { %>
                </li>
                <p class="feedback">
                  <%= errors.email.msg %>
                </p>
                <% } %>
                  <li><input type="password" placeholder="Password" name="password"
                      value="<%= locals.old && old.password %>">
                    <% if (locals.errors && errors.password) { %>
                  </li>
                  <p class="feedback">
                    <%= errors.password.msg %>
                  </p>
                  <% } %>
                    <li><input type="submit" value="Login" class="boton"></li>
                    <div class="Social">
                      <li> <span class="Facebook"> <i class="fab fa-facebook"></i>Log in with Facebook</li></span>
                      <li><span class="Google"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32"
                            focusable="false" aria-hidden="true" role="img">
                            <g transform="translate(-1083 -663)">
                              <g transform="translate(530 529)">
                                <g transform="translate(559 140)">
                                  <g transform="translate(0 0)">
                                    <path fill="#fbbc05"
                                      d="M563.066,367.4a5.808,5.808,0,0,1,.307-1.855l-3.444-2.573a9.87,9.87,0,0,0,0,8.853l3.442-2.577a5.8,5.8,0,0,1-.3-1.848"
                                      transform="translate(-558.883 -357.405)"></path>
                                    <path fill="#ea4335"
                                      d="M610.05,144a6,6,0,0,1,3.767,1.317l2.978-2.907a10.358,10.358,0,0,0-15.931,3.069l3.446,2.573A6.019,6.019,0,0,1,610.05,144"
                                      transform="translate(-599.818 -139.909)"></path>
                                  </g>
                                </g>
                                <path fill="#34a853"
                                  d="M610.05,618.791a6.022,6.022,0,0,1-5.742-4.056l-3.444,2.576a10.226,10.226,0,0,0,9.186,5.574,9.872,9.872,0,0,0,6.668-2.494l-3.27-2.475a6.433,6.433,0,0,1-3.4.875"
                                  transform="translate(-40.818 -462.896)"></path>
                                <path fill="#4285f4"
                                  d="M978.216,469.406a8.16,8.16,0,0,0-.233-1.819h-9.537v3.866h5.489a4.5,4.5,0,0,1-2.09,2.991l3.269,2.475a9.85,9.85,0,0,0,3.1-7.513"
                                  transform="translate(-399.215 -319.425)"></path>
                              </g>
                            </g>
                          </svg>Inicia sesión con Google</span></li>
                    </div>
          </ul>
          <a href="register" class="registro">Register</a>
          <a href="forgot" class="registro">¿Forgot your password?</a>
        </section>
      </form>

      <%- include('./partials/footer') %>

  </body>

</html>