<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <ul class="errores"></ul>
      <form class="formulario" action="/users/login" method="POST">
        <h4>Log in: </h4>
        <section class="login">
          <ul class="login__container">
            <% if (typeof errors != 'undefined' ) { %>
              <ul>
                <% for (let i = 0; i <errors.length; i++){ %>
                  <li>
                    <%=errors[i].msg%>
                  </li>
                  <% } %>
              </ul>
              <% } %>
                <li> <input id="email_val" type="text" placeholder="Email" name="email" value="<%= locals.old && old.email %>">
                  <% if (locals.errors && errors.email) { %>
                </li>
                <p class="feedback">
                  <%= errors.email.msg %>
                </p>
                <% } %>
                  <li><input  id="password_val" type="password" placeholder="Password" name="password"
                      value="<%= locals.old && old.password %>">
                    <% if (locals.errors && errors.password) { %>
                  </li>
                  <p class="feedback">
                    <%= errors.password.msg %>
                  </p>
                  <% } %>
                  <li><div class="rememberme"><input class = "checkbox" type="checkbox" value="rememberme" name="rememberme"><p class="remember">Rememberme</p></div></li>
                  <li><input type="submit" value="Login" class="boton"></li>
          </ul>
          <a href="register" class="registro">Register</a>
          <a href="forgot" class="registro">¿Forgot your password?</a>
        </section>
      </form>

      <%- include('./partials/footer') %>

  </body>

</html>