<!DOCTYPE html>
<html lang="es"></html>
    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
<div class="producto">

        <div class="fotoProducto">
          <img src= <%= item.image %> alt = <%= item.name %>>
        </div>
        <div class="tituloProducto">
            <h1 class="modelo"> <%= item.name %> </h1>
          </div>
      <div class="Precio">
        <label class="precio" name="price">Price</label> <span class="pesos"> USD $ <%= item.price %>
        </span>
        </div>
    <div class="Envio">Worldwide available</div>
        <div class="descripcionproducto"> Description <%= item.description %> </div>
        <label class="category" name="category">Category:</label> <span class="category"><%= item.category %>
</span><br>
        <label for="Cantidad">Quantity: <select  class= "Cantidad" name="Cantidad" >
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    </select></label>  </div>
    <div class="BotonDetail__container">
        <div class="BotonDetail">    
            <button type="button" class="ComprarAhora" value="Comprar ahora"><i class="fas fa-bolt"></i><a href="productCart">Buy now</a></button>            
          </div>    
        <div class="BotonDetail">    
            <button type="button" class="AgregarCarrito" value="Agregar al Carrito"><i class="fas fa-cart-plus"></i><a href="#">Add to cart </a></button>            
          </div>    
          <div class="BotonDetail">    
           <button type="subtmit" class="VolverHome" value="VolverHome"><i class="fas fa-home"></i><a href="index">Back to home</a></button>           
          </div> </div>   

          
          <%- include('./partials/footer') %>
</body>
</html>