<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <ul class="errores"></ul>
    <form class="formulario" action="/products" method="POST" enctype="multipart/form-data">
        <h4><i class="fas fa-user-plus"></i>Add product:</h4> <br>
        <div class="caja">
            <label for="NombreProducto"> Product name:</label><br><input class="register" id= "product_val" type="text" name="product_name"
                placeholder="Insert product name">
        </div><br>
        <div class="caja">
            <label for="precio">Product price:</label><br><input class="register" id= "price_val" type="text" name="product_price" id="precio"
                placeholder="Insert product price">
        </div><br>
        <div class="caja">  <label for="product_category" class="category" name="product_category">Category: </label>
            <br> <p>
                <select name="product_category" id="" class="StockDisponible" required>
                    <option value="" disabled selected>- select category - </option>
                    <% allProduct_category.forEach(product_category => { %>
                    <option value="<%= product_category.id %>"><%= product_category.category_name %></option>
                    <% }); %>
                </select>
      
            <br>
            
        <div class="caja">
            <label> Product image: </label> <br>
            <br><input id="product_image_val" type="file" name="product_image"  class="register" accept=".jpg, .jpeg, .png">
        </div><br>
        <div class="caja"> <label for="Stock" class="Stock  register" name="stock"></label>Stock:
            <br>
            <select class="StockDisponible">
                <option value="Disponible">Available</option>
                <option value="No Disponible">Unavailable</option>
            </select> </div><br>
        <div class="caja">
            <label class='descripcionProducto' for="DescripcionProducto"> Product description:</label><br><textarea id = "description_val" class='cajaDescripcion register'  name="product_description"></textarea placeholder="Insert product description">
    </div>
    </select> </div>
<div> <input class="botonEditProduct" type="submit" value="Add product"></div>
</form>

<%- include('./partials/footer') %>
</body>
</html>