<!DOCTYPE html>
<html lang="es"></html>
    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
       
      <div class="producto">
        <div class="fotoProducto">
          <img src= <%=user.image%> alt = <%=user.first_name%>>
        </div> 
        <div class="tituloProducto">
            <h1 class="modelo"> Hello <%=user.first_name%>  <%=user.last_name%></h1>
          </div>
      <div class="Precio">
        <label class="precio" name="email">Email</label>  <%=user.email%>
        </span>
        </div>
    


<div class="BotonDetail">    
 <button type="subtmit" class="VolverHome" value="VolverHome"><i class="fas fa-home"></i><a href="index">Back to home</a></button>           
</div> </div> 
<%- include('./partials/footer') %>
</body>
</html>