<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>


    <form action="/users/usersEdit?_method=PUT" method="POST" enctype="multipart/form-data">
        <h4><i class="far fa-edit"></i>Edit profile:
            </br>
            <%= item.first_name %> <%= item.last_name %></h4>
        <div class="caja">
            <label for="NombreUsuario"> First name: </label><br><input type="text" name="first_name"
                placeholder="<%= item.first_name %>">
        </div>
        <div class="caja">
            <label for="ApellidoUsuario"> Last name: </label><br><input type="text" name="last_name"
                placeholder="<%= item.last_name %>">
        </div>
        <div class="caja">
            <label for="EmailUsuario"> E-mail: </label><br><input type="email" name="email"
                placeholder="<%= item.email %>">
            <div class="caja">
                <label> Profile image: </label> <input type="file" name="image" accept=".jpg, .jpeg, .png">
            </div>
        </div>
        <div class="caja">
            <label for="ContraUsuario">Password: </label><br><input type="password" name="password">
        </div>
        <div class="caja">
            <label for="ContraUsuario">New Password: </label><br><input type="password" name="password">
        </div>
        <div class="caja">
            <label for="ContraUsuario">Repet Password: </label><br><input type="password" name="password">
        </div>





        </select> </div>

        <div>
            <input class="botonEditProduct" type="submit" value="Edit product"></div>
    </form>

    <form action="/users/<%= item.id %>?_method=DELETE" method="POST">
        <div>
            <input class="botonEditProduct" type="submit" value="Delete product"></div>
    </form>

    <%- include('./partials/footer') %>
</body>

</html>